
.media.table-view-list {
    display:  inline-table;
    /* align-items: flex-start; */
  }

#listing_media_lists> li{
    display: inline-block;
    margin-bottom: 15px;
}

#listing_media_lists> li:not(:last-child){
    margin-right: 15px;
}

#listing_media_lists> li img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.form-listing-details{
    margin-top:  20px;
}

.form-listing-details-row{
    width:  100%;
    display:  flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}

.form-listing-details-row:first-child{
    margin-top: 0;
}

.listng-fields,
.listng-fields > input{
    width: 100%;
}
.listng-fields.column-2{
    width: 49%;
}
.listng-fields.column-3{
    width: 32%;
}

/* Gallery Field */
.gallery_area {
    float:right;
}
.image_container {
    float:left!important;
    width: 100px;
    background: url('https://i.hizliresim.com/dOJ6qL.png');
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    cursor: pointer;
}
.image_container img{
    height: 100px;
    width: 100px;
    border-radius: 3px;
}
.clear {
    clear:both;
}
#gallery_wrapper {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
#gallery_wrapper input[type=text] {
    width:300px;
}
#gallery_wrapper .gallery_single_row {
    float: left;
    display:inline-block;
    width: 100px;
    position: relative;
    margin-right: 8px;
    margin-bottom: 20px;
}
.dolu {
    display: inline-block!important;
}
#gallery_wrapper label {
    padding:0 6px;
}
.button.remove {
    background: none;
    color: #f1f1f1;
    position: absolute;
    border: none;
    top: 4px;
    right: 7px;
    font-size: 1.2em;
    padding: 0px;
    box-shadow: none;
}
.button.remove:hover {
    background: none;
    color: #fff;
}
.button.add {
    background: #c3c2c2;
    color: #ffffff;
    border: none;
    box-shadow: none;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 4em;
}
.button.add:hover, .button.add:focus {
    background: #e2e2e2;
    box-shadow: none;
    color: #0f88c1;
    border: none;
}
/* Gallery Field End */
/* Calendar */
.calendar-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 1px 0 10px #ccc;
    border-radius: 10px;
}
.calendar-wrapper .calendar-header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    width: 100%;
    max-width: 88%;
}
.calendar-header .current-date{
    font-size: 24px;
    font-weight: 700;
}

.calendar-header .icons span{
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 50px;
    color: #ccc;
    font-size: 24px;
}
.calendar-header .icons span:hover{
    background-color: #fff;
}
.calendar-header .icons span:last-child{
    margin-right: -10px;
}

.calendar-wrapper ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.calendar-wrapper ul li{
    position: relative;
    width: calc( 100% / 7);
    text-align: center;
}

.calendar-wrapper .days{
    margin-bottom: 20px;
}

.calendar-wrapper .days li{
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 15px;
    z-index: 1;
}

.calendar-wrapper .weeks li{
    font-weight: 500;
}

.calendar-wrapper .days li.inactive{
    color: #aaa;
}

.calendar-wrapper .days li.inactive:hover::before{
    background-color: transparent;
}

.calendar-wrapper .days li.active{
    color: #fff;
}
.calendar-wrapper .days li.active:hover::before,
.calendar-wrapper .days li.active::before{
    background-color: #000;
}

.calendar-wrapper .days li:before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 5px;
    transform: translate(-50%, -50%);   
}

.calendar-wrapper .days li:hover::before{
    background-color: #f2f2f2;
}


